* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif; }

p {
  margin-bottom: 0.875rem; }
  p:last-child {
    margin-bottom: 0; }

a {
  text-decoration: none; }

a,
p,
h1 {
  color: #393f4d; }

.img-compra {
  text-align: center;
  padding: 0.5rem 0; }
  .img-compra img {
    width: 100%;
    max-width: 250px;
    height: auto;
    padding: 0 50px; }

.logo-thanks {
  text-align: center;
  padding: 0; }
  .logo-thanks img {
    width: 100%;
    max-width: 220px;
    height: auto;
    padding: 0 50px; }

.protocol {
  font-size: 1.25rem;
  color: #00f1e7;
  text-transform: uppercase;
  font-weight: 700; }

.info-user {
  font-size: 1.25rem;
  color: #00f1e7;
  font-weight: 700; }

.review {
  margin-top: 1.75rem; }

.more-options {
  margin-top: 36px;
  text-align: center;
  font-weight: bold; }
  .more-options p {
    font-size: 0.875rem; }
    .more-options p a {
      color: #00f1e7;
      text-decoration: underline;
      margin-top: 0.25rem; }

.active-lightbox {
  overflow: hidden; }
  .active-lightbox .wrapper-container {
    z-index: 9999999999; }
    .active-lightbox .wrapper-container .list-price-quotation {
      z-index: 1; }
    .active-lightbox .wrapper-container .lightbox {
      z-index: 99 !important; }
      .active-lightbox .wrapper-container .lightbox .entry p .bold {
        text-transform: capitalize; }

.MuiDrawer-docked {
  padding-top: 66px; }

.wrapper-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5.2rem 0 16px 0; }
  .wrapper-container .content {
    box-shadow: 3px 4px 23px 4px rgba(0, 58, 55, 0.1);
    border-radius: 14px;
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 1.625rem 1rem;
    z-index: 2; }
  .wrapper-container:before {
    content: "";
    width: 100%;
    height: 190px;
    background: #00f1e7;
    position: absolute;
    top: 0;
    z-index: -1; }

@media (min-width: 768px) {
  .wrapper-container {
    padding: 5.2rem 0 16px 0; } }
@media (min-width: 960px) {
  .MuiContainer-maxWidthMd {
    max-width: 960px; }

  .wrapper-container .content {
    padding: 2.25rem 2.25rem; } }
.product-card .product .content .logo-container .logo-hdmi {
  height: auto; }
  .product-card .product .content .logo-container .logo-hdmi img {
    width: 55px;
    height: auto; }

html {
  font-size: 16px; }

.page-title {
  display: inline-block; }
  .page-title h1 {
    font-size: 2.0625rem;
    margin: 0.75rem 0 0.5rem 0; }

.subtitle {
  font-size: 1.25rem; }

.remark {
  font-size: 0.875rem;
  font-style: italic; }

.txt-primary {
  color: #00f1e7; }

.txt-dark {
  color: #393f4d; }

@media (min-width: 768px) {
  html {
    font-size: 16px; } }
.header {
  background: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.42rem 0;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 5; }
  .header .MuiIconButton-root {
    padding: 14px 16px; }
  .header .MuiSvgIcon-root {
    font-size: 1.6rem; }
  .header .logo-bidu {
    text-align: center; }
    .header .logo-bidu img {
      width: 100px;
      height: auto;
      padding-top: 0.3125rem; }

.menu-header {
  display: flex;
  color: #393f4d; }
  .menu-header .left {
    padding: 1.45rem 1rem 1rem; }
    .menu-header .left .label {
      display: block;
      padding-top: 0.1rem;
      font-size: 1rem; }
  .menu-header .right {
    padding: 1.45rem 1rem 1rem;
    margin-left: auto; }

.btn-menu-mobile .label {
  font-size: 1rem;
  color: #393f4d; }

.menu-mobile {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999; }
  .menu-mobile .btn-menu-mobile .label {
    font-size: 1rem;
    color: #393f4d; }
  .menu-mobile .MuiTreeView-root {
    padding-top: 0.5rem; }
    .menu-mobile .MuiTreeView-root .MuiTreeItem-root {
      padding: 0.5rem; }

.search-mobile {
  border-top: 1px solid rgba(0, 0, 0, 0.42);
  position: fixed;
  top: 67px;
  z-index: 9999;
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2); }
  .search-mobile form {
    position: relative; }
    .search-mobile form .search-field {
      width: 100%;
      height: 2.5rem;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.42);
      width: 100%;
      font-size: 1rem;
      line-height: 2.5rem;
      padding: 0 .5em; }
    .search-mobile form .search-submit {
      background-color: transparent;
      border: none;
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      color: rgba(0, 0, 0, 0.54); }

@media (min-width: 768px) {
  .menu-header .left {
    padding: 1.45rem 1rem 1rem; }
  .menu-header .right {
    padding: 1.45rem 1rem 1rem; } }
@media (min-width: 769px) {
  #root[aria-hidden="true"] .header {
    padding-right: 17px !important; } }
form.quote {
  width: 100%; }

input:focus {
  outline: none; }

select:focus {
  outline: none; }

textarea {
  width: 100%;
  border-color: #00f1e7;
  margin: 0.375rem 0;
  padding: 0.375rem; }
  textarea:focus {
    outline: none; }

button:focus {
  outline: none; }

.MuiInputBase-root {
  color: #393f4d; }

.MuiFormControl-root {
  width: 100%; }

.MuiTypography-body1 {
  font-family: "Source Sans Pro", sans-serif !important; }

.MuiFormControlLabel-label.MuiTypography-body1 {
  line-height: 1.2rem; }

.MuiFormHelperText-root.Mui-error {
  line-height: 1rem; }

.MuiRadio-root {
  padding-right: 4px !important; }

.MuiRadio-colorPrimary {
  color: #e4eaee !important; }

.MuiRadio-colorPrimary.Mui-checked {
  color: #00f1e7 !important; }

.MuiTypography-body1 {
  color: #393f4d; }

.MuiSwitch-root {
  padding: 8px !important; }

.MuiSwitch-track {
  border-radius: 14px !important;
  opacity: 1 !important;
  background-color: #e4eaee !important; }

.MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
  background-color: #00f1e7 !important;
  opacity: 0.38 !important; }

.MuiCheckbox-root {
  opacity: 1 !important;
  color: #e4eaee !important; }

.MuiCheckbox-colorPrimary.Mui-checked {
  color: #00f1e7 !important; }

.MuiFormLabel-root.Mui-error {
  color: rgba(0, 0, 0, 0.54) !important; }

.MuiInputLabel-shrink {
  margin-right: -3rem; }

.switch-range {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .switch-range .value {
    border: 1px solid #00f1e7;
    min-width: 45px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-radius: 25px; }

.lightbox {
  position: fixed;
  z-index: 9999999999999999999999;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 20px 16px;
  overflow: auto;
  text-align: center; }
  .lightbox .content {
    box-shadow: none;
    background: #ffff;
    border-radius: 14px;
    height: auto;
    max-width: 480px;
    display: inline-block;
    text-align: left; }
    .lightbox .content .header-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      position: relative; }
      .lightbox .content .header-title .btn-close {
        position: absolute;
        right: -1.6875rem;
        top: -2rem; }
    .lightbox .content .entry {
      margin-top: 1rem; }
      .lightbox .content .entry .list {
        text-transform: capitalize; }
      .lightbox .content .entry .actions {
        margin-top: 0; }
    .lightbox .content h1 {
      margin: 0; }

ul.pgto li.pgto-card {
  display: inline-block;
  width: 35px;
  padding: 0 0.25rem 0.25rem 0; }
  ul.pgto li.pgto-card img {
    width: 100%;
    height: auto; }

.label-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }

.line-txt {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e4eaee;
  line-height: 0.1em;
  margin: 1.5rem 0; }
  .line-txt span {
    background: #fff;
    padding: 0 10px; }

.MuiPopover-root {
  z-index: 99999 !important; }

.loading-request {
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99; }

.agree-container .agree {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  height: 30px;
  width: 100%; }
  .agree-container .agree .MuiFormControlLabel-root {
    margin-right: 0; }
  .agree-container .agree .termos-label {
    vertical-align: middle;
    line-height: 1.5rem; }

.validate-swich .label-range label {
  color: #ff0000; }

.warning-validation {
  color: #ff0000;
  font-size: 11px;
  font-style: italic;
  text-align: center;
  margin: 0; }
  .warning-validation strong {
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    font-size: 12px; }
  .warning-validation.warning-left {
    text-align: left; }

.validate-radio-button .MuiRadio-root:not(.Mui-checked) .MuiFormControlLabel-label {
  color: #ff0000; }
.validate-radio-button .MuiRadio-root:not(.Mui-checked) .MuiSvgIcon-root {
  fill: #ff0000; }
.validate-radio-button .MuiFormControlLabel-label {
  color: #ff0000 !important; }

p.validate-radio-button.bold {
  color: #ff0000; }

.warning-switch {
  /*.MuiSwitch-root {
    .MuiButtonBase-root:not(.Mui-checked) {
      color: #ff0000;
    }
  })*/ }
  .warning-switch .MuiFormControlLabel-label {
    color: #ff0000; }

.invalid-checkbox svg path {
  color: #ff0000; }

.componentloading {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9999999999;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center; }

.actions > div {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center; }

.error-quote {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem; }

.parcelas p {
  position: relative;
  top: 10px; }

.warning-quote {
  position: absolute;
  right: 0;
  background: #001446;
  font-size: 10px;
  color: #00f1e7;
  font-weight: 600;
  width: 75%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  padding: 7px 12px 0 0;
  z-index: 1;
  top: -29px;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px; }

#menu-banco li,
#banco {
  text-transform: capitalize; }

.loading-cotacoes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0; }
  .loading-cotacoes span {
    display: block;
    color: #000;
    font-size: 14px; }

#menu-modeloRastreador.MuiPopover-root {
  position: fixed !important;
  z-index: 999999999999 !important; }

#menu-id_marca .MuiListItem-button {
  text-transform: uppercase; }

.edit-values {
  color: #0df2e7;
  font-weight: 400;
  font-size: 14px;
  display: block;
  margin-top: 5px; }

.zip-error {
  color: rgba(0, 0, 0, 0.54);
  margin: 0;
  font-size: 0.75rem;
  margin-top: 3px;
  text-align: left;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.03333em;
  color: #f44336; }

.horaPreferencia {
  display: block;
  margin-bottom: 20px !important; }

.complemento {
  margin-top: 15px !important;
  display: block; }

.error-transmission {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-top: 30px;
  text-align: center; }

/*Loading Timer*/
.circlePercent {
  position: relative;
  top: 26px;
  left: 26px;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: orange; }

.circlePercent:before,
.circlePercent > .progressEnd {
  position: absolute;
  z-index: 3;
  top: 2px;
  left: 45px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  -ms-transform-origin: 3px 46px;
  transform-origin: 3px 46px;
  content: ""; }

.circlePercent:after,
.circlePercent > .progress {
  position: absolute;
  -ms-transform-origin: 48px 48px;
  transform-origin: 48px 48px;
  z-index: 0;
  top: 0;
  left: 0;
  width: 48px;
  height: 96px;
  border-radius: 48px 0 0 48px;
  background: orange;
  content: ""; }

.circlePercent.fiftyPlus:after {
  background: white;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.circlePercent > .progress.progress {
  background: white; }

.circlePercent > .counter {
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  width: 100px;
  height: 100px;
  margin-top: -2px;
  margin-left: -2px;
  border-radius: 50%;
  border: 4px solid orange; }

.circlePercent > .counter:before {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -13px;
  width: 100%;
  height: 26px;
  font-size: 26px;
  line-height: 26px;
  font-family: sans-serif;
  text-align: center;
  color: white;
  content: attr(data-percent) "%"; }

.circlePercent > .counter:after {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background: orange;
  content: ""; }

.circlePercent > .counter[data-percent="100"] {
  background: white; }

/*stepper*/
.stepper {
  position: relative; }
  .stepper .steps {
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    z-index: 2; }
  .stepper .stepbar-grid {
    padding: 0 20px; }
  .stepper .stepbar {
    background-color: #e4eaee;
    border-radius: 3px;
    margin: 1.625rem 0; }
    .stepper .stepbar > div {
      background-color: #00f1e7;
      height: 2px;
      position: relative; }
    .stepper .stepbar.active > div {
      width: 50% !important;
      position: relative; }
      .stepper .stepbar.active > div:before {
        content: "";
        height: 2px;
        width: 200%;
        background-color: #00f1e7;
        position: absolute;
        right: 50px;
        top: 0; }
  .stepper .stepbar.step1 > div {
    width: 50%; }
  .stepper .stepbar.step2 > div {
    width: 0; }
  .stepper .stepbar.step3 > div {
    width: 0%; }
  .stepper .stepbar.step4 > div {
    width: 0%; }
  .stepper .stepbar.step5 > div {
    width: 0%; }
  .stepper .step-inactive {
    color: #9fb1c2; }
  .stepper .step-active {
    color: #393f4d; }
  .stepper .MuiFab-root {
    box-shadow: none; }
  .stepper.success .stepbar.step3.active > div {
    width: 100% !important; }

/*step completed*/
.step-completed {
  padding: 0 16px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .step-completed .content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0625rem;
    line-height: 1.95rem;
    box-shadow: 3px 4px 23px 4px rgba(0, 58, 55, 0.1);
    border-radius: 14px;
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 20px;
    position: relative;
    z-index: 2; }
    .step-completed .content .right {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
  .step-completed .icon-completed {
    background-color: #00f1e7;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.125rem; }

@media (min-width: 600px) {
  .step-completed {
    padding: 0 24px; } }
@media (min-width: 960px) {
  .step-completed .content {
    max-width: 912px;
    padding: 20px 2.25rem; } }
/*Rating*/
.MuiRating-label {
  margin-right: 14px; }

.review .MuiBox-root-256 {
  margin-bottom: 1rem; }

/*List Price Quotation*/
.list-price-quotation {
  box-shadow: 0px 1px 5px 3px rgba(0, 58, 55, 0.1);
  border-radius: 14px;
  background: #fff;
  width: 100%;
  padding: 0;
  margin: 60px 0 10px 0;
  position: relative;
  font-size: 1rem; }
  .list-price-quotation .logo-container {
    top: -50px;
    left: 30%;
    margin-left: 35px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 3px 4px 23px 4px rgba(0, 58, 55, 0.1);
    position: absolute;
    z-index: 4;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
    .list-price-quotation .logo-container .logo-hdmi {
      height: 36px; }
      .list-price-quotation .logo-container .logo-hdmi img {
        width: auto;
        height: 100%; }
    .list-price-quotation .logo-container .seguradoras img {
      width: 100%;
      border-radius: 50%;
      height: auto; }
    .list-price-quotation .logo-container .logo-think {
      width: 68px; }
      .list-price-quotation .logo-container .logo-think img {
        width: 100%;
        height: auto; }
  .list-price-quotation .table-header {
    background: linear-gradient(180deg, #00fefd 0%, #25ced1 100%);
    padding: 0.625rem;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    position: relative;
    z-index: 3; }
    .list-price-quotation .table-header .top-label {
      display: block;
      font-size: 0.625rem; }
    .list-price-quotation .table-header .valor-total {
      font-size: 1rem;
      font-weight: bold;
     }
    .list-price-quotation .table-header .valor-parcela {
      font-size: 1rem;
      font-weight: bold;
      text-align: right; }
    .list-price-quotation .table-header .first-label {
      font-size: 1rem;
      font-weight: bold;
      display: block; }
    .list-price-quotation .table-header .ppu-label {
      font-size: 0.625rem;
      display: block; }
  .list-price-quotation .table-body {
    margin-top: 1rem;
    padding: 0.625rem;
    width: 100%;
    text-align: center;
    border-collapse: collapse; }
    .list-price-quotation .table-body td {
      border: 1px solid #e4eaee;
      padding: 0.8rem 0; }
      .list-price-quotation .table-body td .franquia {
        font-size: 0.75rem; }
    .list-price-quotation .table-body td:first-child {
      border-left: none; }
    .list-price-quotation .table-body td:last-child {
      border-right: none; }
    .list-price-quotation .table-body td.coberturas {
      font-size: 0.75rem;
      line-height: 0.8rem;
      font-weight: bold;
      border-top: none; }
      .list-price-quotation .table-body td.coberturas .icon {
        display: inline-block;
        clear: both;
        width: 61px;
        padding: 0 0.25rem; }
  .list-price-quotation .table-footer {
    background-color: #e4eaee;
    padding: 0.5rem 0.625rem;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    height: 37px; }
    .list-price-quotation .table-footer .bottom-links {
      display: flex;
      font-size: 0.45rem;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: underline;
      line-height: 0.5rem;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
      max-height: 18px; 
      cursor: pointer;
    }
      .list-price-quotation .table-footer .bottom-links.bottom-links-ppu {
        text-decoration: none; }
    .list-price-quotation .table-footer .btn-comprar {
      display: flex;
      justify-content: center;
      align-self: center;
      align-items: center;
      height: 35px;
      line-height: 35px;
      width: 100%;
      max-width: 150px;
      box-shadow: 0px 3px 12px -2px rgba(0, 58, 55, 0.1);
      border-radius: 35px;
      margin: 2px 0 0 0;
      display: inline-block;
      cursor: pointer; }
  .list-price-quotation.custom .by-you {
    width: 93%;
    height: 1.5rem;
    background-color: #faed00;
    margin-top: -1.5rem;
    text-align: center;
    font-size: 0.5625rem;
    text-transform: uppercase;
    font-weight: bold;
    border-top-right-radius: 14px;
    padding: 0.45rem 0.4rem 0 42px; }
  .list-price-quotation.custom .table-header {
    background: linear-gradient(180deg, #fac234 0%, #f77152 100%); }
  .list-price-quotation.list-price-quotation-error .table-header {
    height: 55px; }
  .list-price-quotation.list-price-quotation-error .logo-container .logo-think img {
    width: 80%; }
  .list-price-quotation.list-price-quotation-error .table-body {
    min-height: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .list-price-quotation.list-price-quotation-error .table-body strong,
    .list-price-quotation.list-price-quotation-error .table-body p {
      font-size: 0.75rem; }
    .list-price-quotation.list-price-quotation-error .table-body p {
      padding: 0 20px; }
    .list-price-quotation.list-price-quotation-error .table-body strong {
      display: block;
      margin-bottom: 10px; }

/*Product Card*/
.product {
  width: 100%;
  max-width: 350px;
  padding: 0;
  margin: 1.5rem 0 10px 0;
  position: relative;
  z-index: 2;
  font-size: 1rem;
  display: inline-block; }
  .product .content {
    padding: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 80px; }
    .product .content .logo-container {
      top: 0;
      left: 0;
      height: 80px;
      width: 80px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 3px 4px 23px 4px rgba(0, 58, 55, 0.1);
      position: absolute;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center; }
      .product .content .logo-container .logo-hdmi {
        height: 36px; }
        .product .content .logo-container .logo-hdmi img {
          width: auto;
          height: 100%; }
      .product .content .logo-container .logo-think {
        width: 68px; }
        .product .content .logo-container .logo-think img {
          width: 100%;
          height: auto; }
    .product .content .infos {
      padding-left: 40px; }
      .product .content .infos .price {
        background: linear-gradient(90deg, #fac234 0%, #f77152 100%);
        padding: 0.125rem 0.25rem 0.125rem 50px;
        border-top-right-radius: 14px;
        font-weight: bold;
        font-size: 1.25rem;
        text-align: left; }
      .product .content .infos .description {
        padding: 0.25rem 0.25rem 0.25rem 50px;
        font-size: 12px;
        line-height: 12px;
        text-align: left; }
        .product .content .infos .description p {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          /* number of lines to show */ }
  .product .links {
    margin-top: 8px; }
    .product .links .back {
      font-size: 0.75rem;
      font-weight: bold;
      display: block; }
      .product .links .back .MuiSvgIcon-root {
        height: 0.85rem;
        display: inline-block;
        vertical-align: middle; }
      .product .links .back span {
        line-height: 0.8rem;
        vertical-align: middle; }
    .product .links .more {
      font-size: 0.75rem;
      font-weight: bold;
      color: #00f1e7;
      text-decoration: underline;
      display: block; }
      .product .links .more span {
        line-height: 0.8rem;
        vertical-align: middle; }

/*Range Slider Bar */
.range-bar {
  padding: 0 8px 1.5rem 8px; }
  .range-bar .rc-slider {
    padding: 0; }
    .range-bar .rc-slider .rc-slider-rail {
      height: 14px;
      border-radius: 7px;
      background: #e4eaee; }
    .range-bar .rc-slider .rc-slider-track {
      height: 14px;
      border-radius: 7px;
      background: #9ffaf6;
      transition: 0.1s; }
    .range-bar .rc-slider .rc-slider-dot {
      position: absolute;
      bottom: -6px;
      margin-left: 0;
      width: 1px;
      height: 6px;
      border: none;
      background-color: #9fb1c2;
      cursor: pointer;
      border-radius: none;
      vertical-align: middle; }
      .range-bar .rc-slider .rc-slider-dot.rc-slider-dot-active {
        background-color: #393f4d; }
    .range-bar .rc-slider .rc-slider-mark {
      top: 26px; }
      .range-bar .rc-slider .rc-slider-mark .rc-slider-mark-text {
        color: #9fb1c2; }
        .range-bar .rc-slider .rc-slider-mark .rc-slider-mark-text.rc-slider-mark-text-active {
          color: #393f4d; }
    .range-bar .rc-slider .rc-slider-step {
      height: 14px; }
    .range-bar .rc-slider .rc-slider-handle {
      top: 1px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: none;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
      background: #00f1e7;
      transition: 0.1s; }
  .range-bar .label-range {
    margin: 0 -10px 6px -10px;
    width: auto; }
    .range-bar .label-range .value {
      border: 1px solid #00f1e7;
      min-width: 45px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3px 10px;
      border-radius: 25px;
      white-space: nowrap; }

.valueKm {
  display: block;
  margin-top: 5px;
  font-weight: normal; }

.terms {
  display: block;
  width: 100%;
  color: #ff0000;
  font-size: 12px;
  margin-top: 15px; }

.btnGradient, .list-price-quotation .table-footer .btn-comprar, .actions .btn-next {
  background: #fac234;
  background: linear-gradient(90deg, #fac234 0%, #f77152 100%);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75rem; }

.buttons {
  display: flex; }
  .buttons:focus {
    outline: none; }

.btn-outline {
  min-width: 95px;
  max-width: 320px;
  height: 35px;
  border-radius: 35px;
  border: 1px solid #00f2e8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #393f4d;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding: 0 0.5rem; }
  .btn-outline:hover {
    background-color: #00f1e7; }
  .btn-outline:focus {
    background-color: #00f1e7; }
  .btn-outline:active {
    background-color: #00f1e7; }

.btn-outline.active {
  background-color: #00f1e7; }

.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  width: 100%;
  margin-top: 0; }
  .actions a {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none; }
  .actions .btn-next {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    height: 35px;
    width: 100%;
    max-width: 320px;
    box-shadow: 0px 3px 12px -2px rgba(0, 58, 55, 0.1);
    border-radius: 35px;
    margin: 1.5rem 0 0;
    cursor: pointer; }
  .actions .btn-back {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100%;
    max-width: 320px;
    border-radius: 35px;
    margin: 1.5rem 0 0; }

.card-button {
  box-shadow: 3px 4px 23px 4px rgba(0, 58, 55, 0.1);
  border-radius: 10px;
  background: #fff;
  width: 100%;
  height: auto;
  padding: 0.8rem 1.25rem;
  position: relative;
  z-index: 2;
  margin: 1.25rem 0;
  text-transform: none; }
  .card-button .txt {
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%; }
  .card-button .icon {
    background-color: #00f1e7;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center; }

.btn-close {
  background-color: #00f1e7;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center; }
  .btn-close .MuiSvgIcon-root {
    font-size: 1.25rem; }

.login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  width: 100%; }

.btn-white {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 35px;
  width: 100%;
  max-width: 320px;
  box-shadow: 0px 3px 12px -2px rgba(0, 58, 55, 0.1);
  border-radius: 35px;
  margin: 1.5rem 0 0;
  background: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75rem; }

.txt-right {
  text-align: right; }

.txt-center {
  text-align: center; }

.txt-left {
  text-align: left; }

.light {
  font-weight: 300; }

.bold {
  font-weight: 700; }

.underline {
  text-decoration: underline; }

.flex {
  display: flex; }

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex; }

.flex-start {
  justify-content: flex-start; }

.flex-end {
  justify-content: flex-end; }

.space-between {
  justify-content: space-between; }

.space-around {
  justify-content: space-around; }

.space-evenly {
  justify-content: space-evenly; }

.justify-center {
  justify-content: center; }

.items-center {
  align-items: center; }

.relative {
  position: relative; }

.block {
  display: block; }

.card {
  box-shadow: 3px 4px 23px 4px rgba(0, 58, 55, 0.1);
  border-radius: 14px;
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 1.625rem 1.25rem;
  position: relative;
  height: auto; }

.pb0 {
  padding-bottom: 0 !important; }

.pt0 {
  padding-top: 0 !important; }

.pl0 {
  padding-left: 0 !important; }

.pr0 {
  padding-right: 0 !important; }

.px0 {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.py0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.p0 {
  padding: 0 !important; }

.pb05 {
  padding-bottom: 0.5rem !important; }

.pt05 {
  padding-top: 0.5rem !important; }

.pl05 {
  padding-left: 0.5rem !important; }

.pr05 {
  padding-right: 0.5rem !important; }

.px05 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important; }

.py05 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important; }

.p05 {
  padding: 0.5rem !important; }

.pb1 {
  padding-bottom: 1rem !important; }

.pt1 {
  padding-top: 1rem !important; }

.pl1 {
  padding-left: 1rem !important; }

.pr1 {
  padding-right: 1rem !important; }

.px1 {
  padding-right: 1rem !important;
  padding-left: 1rem !important; }

.py1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; }

.p1 {
  padding: 1rem !important; }

.pb1e5 {
  padding-bottom: 1.5rem !important; }

.pt1e5 {
  padding-top: 1.5rem !important; }

.pl1e5 {
  padding-left: 1.5rem !important; }

.pr1e5 {
  padding-right: 1.5rem !important; }

.px1e5 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important; }

.py1e5 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important; }

.p1e5 {
  padding: 1.5rem !important; }

.mb0 {
  margin-bottom: 0 !important; }

.mt0 {
  margin-top: 0 !important; }

.ml0 {
  margin-left: 0 !important; }

.mr0 {
  margin-right: 0 !important; }

.mx0 {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.my0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.m0 {
  margin: 0 !important; }

.mb05 {
  margin-bottom: 0.5rem !important; }

.mt05 {
  margin-top: 0.5rem !important; }

.ml05 {
  margin-left: 0.5rem !important; }

.mr05 {
  margin-right: 0.5rem !important; }

.mx05 {
  margin-right: 0.5rem;
  margin-left: 0.5rem !important; }

.my05 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem !important; }

.m05 {
  margin: 0.5rem !important; }

.mb1 {
  margin-bottom: 1rem !important; }

.mt1 {
  margin-top: 1rem !important; }

.ml1 {
  margin-left: 1rem !important; }

.mr1 {
  margin-right: 1rem !important; }

.mx1 {
  margin-right: 1rem !important;
  margin-left: 1rem !important; }

.my1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important; }

.m1 {
  margin: 1rem !important; }

.mb1e5 {
  margin-bottom: 1.5rem !important; }

.mt1e5 {
  margin-top: 1.5rem !important; }

.ml1e5 {
  margin-left: 1.5rem !important; }

.mr1e5 {
  margin-right: 1.5rem !important; }

.mx1e5 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important; }

.my1e5 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important; }

.m1e5 {
  margin: 1.5rem !important; }

.mb2 {
  margin-bottom: 2rem !important; }

.mt2 {
  margin-top: 2rem !important; }

.ml2 {
  margin-left: 2rem !important; }

.mr2 {
  margin-right: 2rem !important; }

.mx2 {
  margin-right: 2rem !important;
  margin-left: 2rem !important; }

.my2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important; }

.m2 {
  margin: 2rem !important; }

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite; }

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #00f1e7; }

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s; }

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s; }

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s; }

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s; }

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s; }

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s; }

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s; }

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s; }

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s; }

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s; }

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s; }

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s; }

@keyframes lds-spinner {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.spinner-label {
  text-transform: uppercase;
  color: #000;
  display: block;
  font-size: 14px;
  font-weight: bold;
  justify-content: center; }

.spinner-label-text {
  text-transform: uppercase;
  color: #000;
  display: block;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 14px; }

/*# sourceMappingURL=index.css.map */
.vidas{ 
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;  
  text-align: center;
  color: #001447;
}
.texto-vidas {
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
text-align: center;

color: #5A5A5A;

}
.MuiDialog-paperFullWidth {
  border-radius: 20px !important;
}
