.texto-vidas {
  padding: 0 0 20px 0 !important;
}
.texto-vidas-aviso {
  font-size: 14px;
  font-style: italic;
}
.grid-faixa-etarias {
  width: 40% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

#qtdevidas::-webkit-outer-spin-button,
#qtdevidas::-webkit-inner-spin-button {
  display: none;
}
#qtdevidas {
  font-size: 50px !important;
  text-align: center;
}
.select-faixa-etaria {
  width: 100px !important;
}
@media only screen and (max-width: 800px) {
  .MuiContainer-root {
    padding-right: 0 !important;
  }
  .grid-faixa-etaria {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .select-faixa-etaria {
    width: 100px !important;
  }
}
@media only screen and (max-width: 500px) {
  .actions .btn-next {
    width: 60% !important;
  }
}

.add-botao {
  margin: 0px 0 0 100px;
  font-size: 40px;
}

.less-botao {
  margin-top: 20px;
  /* margin-bottom: 6px; */
  /* margin-left: 124px; */
  background-color: #00fefd;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  margin-left: 92%;
}
.button_text_menos {
  font-size: 60px;
  align-items: center;
  margin-top: -39px;
  margin-left: -11px;
  margin-right: 2px;
}
.less-botao-mais {
  margin-top: 20px;
  /* margin-bottom: 6px; */
  background-color: #00fefd;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
}
.button_text_mais {
  font-size: 45px;
  margin-top: -21px;
  margin-left: -13px;
}
